{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/index2.css' %}" />

<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Eat Food Mood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">

</head>

 <body>

<div class="jumbotron text-center">
<a href="/home"><img src="/static/home/images/MoodLogo.png" title="MF Logo" width="auto" height="auto"/></a>
  <p>We are here to transform your current mood to the perfect food ! Hit the button below to go select your mood.</p>
  <div class="moods">
  				<a href="/moods">Get Your Food For Mood</a>
  </div>
 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>About</h3>
      <p>We realized that finding the right food based on how you feel might not
      always be the easiest thing to do. Unfortunately, our different moods make us in the mood for 
      different food places. But what are they? We introduce to you Mood Food.</p>
    </div>
    <div class="col-sm-4">
      <h3>Our Team</h3>
      <p>We are team Mood Food. We are three RIT students in three different computing majors; 
      Priya (Computing Security) , Niki (Computer Science), and Angela (Software Engineering).       
       We went to BrickHacks, a hackathon at RIT and after a conversation we 
      realized that our moods affect what we want to eat, but sometimes it is not so easy to figure out
      what food that might be. This website we hopefully the lives of people easier. It will definitely make our 
      lives easier.
    </div>
    <div class="col-sm-4">
      <h3>The Approach</h3>        
      <p>First you select your mood. Then you select your food based on your mood. Then we give you options
      of where to eat and the information you need to get to that place. It is that easy!</p>
    </div>
  </div>
</div>
​
</body>

<footer>
	<p>@Copyright Eat Food Mood Co.</p>
</footer>
</html>
​

