{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'home/index2.css' %}" />

<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title>Eat Food Mood</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Pangolin" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">



</head>
<body>
​
<div class="jumbotron text-center">
<a href="/home"><img src="/static/home/images/MoodLogo.png" title="MF Logo" width="auto" height="auto the site " /></a>
  <h2>Select Your Current Mood</h2>
</div>
 

<div class="container">
  <div class="row">
  
  
	 	<a href="/moods/happy/restaurantRec"><img src="/static/moods/images/happy.png" title="Happy" width="200" height="250" alt=" happy"></a>
	
	 	<a href="/moods/sad/restaurantRec"><img src="/static/moods/images/sad.png" title="Sad" width="200" height="250" alt="sad"></a>

	 	<a href="/moods/mad/restaurantRec"><img src="/static/moods/images/mad.png" title="Mad" width="200" height="250" alt="mad"></a>

	 	<a href="/moods/wild/restaurantRec"><img src="/static/moods/images/wild.png" title="Wild" width="200" height="250" alt="wild"></a>
	
	 	<a href="/moods/tired/restaurantRec"><img src="/static/moods/images/tired.png" title="Tired" width="200" height="250" alt="sad"></a>
	
	
  </div>
</div>
​
</body>
<footer>
	<p>@Copyright Eat Food Mood Co.</p>
</footer>
</html>
​

